<div class="row">
    <div class="col-md-2">
        <label class="control-label">Estado:</label>
    </div>
    <div class="col-md-4">
        <select class="form-control" id="ordenObjetivo">
            <option value="1" id="1" @((bool)ViewBag.Actives ? "selected" : "")>Activo</option>
            <option value="0" id="0" @(!(bool)ViewBag.Actives ? "selected" : "")>Inactivo</option>
        </select>
    </div>

</div>

<br />

<div class="row">
    <table id="listaOrdenesAgregadasDataTable" class="dataTable table table-striped" style="width:100%"></table>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        FillGridOrdenObjetivo();
    });

    $("#ordenObjetivo").change(function () {
        var valor = $("#ordenObjetivo").val();
        if (valor == "1") {
            refreshOrdenesAgregadasList(true);
        } else {
            refreshOrdenesAgregadasList(false);
        }
    });

    var objetivoColumns = [
        {
            title: "ID",
            data: "int_id_orden_aprehension",
            visible: false
        },

        {
            title: "Delito",
            data: "delito",
            orderable: true
        },
        {
            title: "Tipo",
            data: "tipo",
            orderable: true
        },
        {
            title: "Acciones",
            data: "int_id_orden_aprehension", render: function (data, type, full, meta) {
                var action;
                if ('@ViewBag.Actives'.toUpperCase() == 'TRUE') {
                    action = [
                        { divId: 'div_DisableCarpetaObjetivo_' + data, data: data, functionToExec: 'DisableOrdenObjetivo', toolTip: 'Desactivar', icon: 'fa fa-trash' },
                    ];
                }
                else {
                    action = [
                        { divId: 'div_ActivateCarpetaObjetivo_' + data, data: data, functionToExec: 'ActivateOrdenObjetivo', toolTip: 'Activar', icon: 'fa fa-power-off' }
                    ];
                }
                return AddActionsToGrid(action);
            }
        }
    ];

    function FillGridOrdenObjetivo() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("FillOrdenesRelacionadasList", "FichaObjetivo")',
            data: { active: @Json.Encode(ViewBag.Actives), int_id_ficha_objetivo: $("#int_id_ficha_objetivo").val() },
            success: function (data) {
                $('#listaOrdenesAgregadasDataTable').DataTable({
                    destroy: true,
                    searching: true,
                    responsive: true,
                    scrollX: true,
                    data: data,
                    columns: objetivoColumns,
                    language: {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sSearch": "Buscar:",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        }
                    }
                });
            }
        });
    }

    function DisableOrdenObjetivo(id) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DisableOrdenObjetivo", "FichaObjetivo")',
            data: { int_id_orden_aprehension: id },
            success: function (data) {
                if (data.IsSuccess) {
                    swal({
                        title: "",
                        text: data.Message,
                        type: 'success',
                        confirmButtonText: "Continuar",
                        closeOnConfirm: true,
                    }, function (isConfirm) {
                        if (isConfirm) {
                            swal.close();
                            refreshOrdenesAgregadasList();
                        }
                    });
                } else {
                    swal({
                        title: "Error",
                        text: "No tienes permisos para esta acción.",
                        type: 'error'
                    });
                }
            }
        });
    }

    function ActivateOrdenObjetivo(id) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ActivateOrdenObjetivo", "FichaObjetivo")',
            data: { int_id_orden_aprehension: id },
            success: function (data) {
                if (data.IsSuccess) {
                    swal({
                        title: "",
                        text: data.Message,
                        type: 'success',
                        confirmButtonText: "Continuar",
                        closeOnConfirm: true,
                    }, function () {
                        swal.close();
                        refreshOrdenesAgregadasList();
                    });
                } else {
                    swal({
                        title: "Error",
                        text: "No tienes permisos para esta acción.",
                        type: 'error'
                    });
                }
            }
        });
    }

</script>
